* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

h3 {
    position: absolute;
    top:0px;
    right: 0px;
    padding: 2px;
    margin: 0px;
    background-color: aquamarine;
}
section {
    position: relative;
    background-color: antiquewhite;
    border:1px black solid;
}

.row{
    width: 100%;
    float: left;
    margin: 10px;
    position: relative;
}
@media (min-width:992px){
    
.col-lg-4{
    
    width:30%;
    float:left;
    position: relative;
    padding: 5px;
    padding-top: 15px;
    margin:1.33%
}


}

@media(min-width:768px) and (max-width:991px ){

.col-md-6 {
    width:47%;
    float: left;
    padding: 5px;
    padding-top: 15px;
    position: relative;
    margin: 1%;
}

.col-md-12 {
    width: 96%;
    float: left;
    padding: 5px;
    padding-top: 15px;
    position: relative;  
    margin:1%;  
}

}

@media(max-width:767px){
   

.col-s {
    width:95%;
    float: left;
    padding: 13px 5px 5px 5px;
    margin:7px; 
}
}